.card-header.d-flex.justify-content-between.w-800
  %h5.m-0.text-dark Todo Lists:
  = link_to 'New Todo List', new_todo_list_path, class: 'btn btn-warning btn-sm'
.card-body
  %ul.list-group
    - @todo_lists.each do |todo_list|
      = link_to todo_list, class: 'text-decoration-none' do
        %li.list-group-item.d-flex.justify-content-between
          %div
            %h5.m-0.text-dark
              %b= todo_list.title
              %span{:class => "badge badge-#{todo_list.badge_color}"}= todo_list.status
            %p.text-secondary.m-0
              %small
                = todo_list.percent_complete
                \% Complete (#{todo_list.completed_items}/#{todo_list.total_items} Todo Items)
.card.text-center.border-secondary.mb-3
  .card-header
    Created by
  .card-body
    %blockquote.blockquote.mb-0
      %footer.blockquote-footer
        DannyⓒElmob for
        %cite{:title => "Source Title"} Ruby❦Garage
