<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<ul>
    <% @todo_list.todo_items.each do |todo_item| %>
      <li><%= todo_item.description %></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
