<div class="card-header">

  <div class="row">
    <div class="col-4">
      <%= link_to todo_lists_path, class: 'btn btn-info' do %>
      <i class="far fa-hand-point-left"></i>
      <% end %>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-between">
       <div>
         <h5 class='m-0'>
           <b><%= @todo_list.title %></b>
           <span class="badge badge-<%= @todo_list.badge_color %>"><%= @todo_list.status %></span>
         </h5>
         <p class='text-secondary m-0'><small><%= @todo_list.percent_complete %>% Complete (<%= @todo_list.completed_items %>/<%= @todo_list.total_items %> Todo Items)</small></p>
       </div>
       <div>
        <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

</div>
</div>

<div class="card-body">
  <div class="progress mb-4">
   <div class="progress-bar bg-info" role="progressbar" style="width: <%= @todo_list.percent_complete %>%"
     aria-valuenow="<%= @todo_list.percent_complete %>" aria-valuemin="0" aria-valuemax="100"></div>
   </div>

   <%= form_for([@todo_list, @todo_item]) do |f| %>
   <div class="input-group mb-4">
    <%= f.text_field :description, class: "form-control", placeholder: "Add some item here", required: true%>
    <div class="input-group-append">
      <%= f.submit "Press 🔘", class: "btn btn-info input-group-btn" %>
    </div>
  </div>
  <% end %>

  <ul class="list-group">
    <% @todo_list.todo_items.each do |todo_item| %>
    <% if todo_item.completed? %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <span class='text-muted'>
          <em><%= todo_item.description %></em>
        </span>
        <%= link_to '#', class: 'btn btn-info', data: { reflex: 'click->TodoItem#incomplete', id: todo_item.id } do %>
        <i class="fas fa-check-double"></i>
        <% end %>
      </div>
    </li>
    <% else %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <span>
          <em><%= todo_item.description %></em>
        </span>
        <%= link_to '#', class: 'btn btn-warning', data: { reflex: 'click->TodoItem#complete', id: todo_item.id } do %>
        <i class="fas fa-backspace"></i>
        <% end %>
      </div>
      <div class="d-flex justify-content-between">
        <%= link_to todo_list_todo_item_path(@todo_list,todo_item), method: :delete, data: { confirm: 'Sure about that..?' }, class: 'btn btn-outline-dark' do %>
        <i class="fas fa-eraser"></i>
        <% end %>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>

<div class="card text-center border-success mb-3">
  <div class="card-header">
    Created by
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer">DannyⓒElmob for <cite title="Source Title">Ruby❦Garage</cite></footer>
    </blockquote>
  </div>
</div>


